/*
 * UI tweaks to get tabs working
 */
body {
        overflow: hidden;
}

body, html, #tabs {
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
}

body {
        margin-bottom: 0;
}

#tabsWrapper {
        position: absolute !important;
        bottom: 44px;
        overflow: auto;
        width: 100%;
        top: 0px;
}

.ui-tabs-panel {
        position: relative;
}

.tabs-bottom {
        position: relative;
} 
.tabs-bottom .ui-tabs-panel {
        overflow: auto;
} 

.tabs-bottom .ui-tabs-nav {
        position: absolute !important;
        left: 0;
        bottom: 0;
        right:0;
        padding: 0 0.2em 0.2em 0;
} 
.tabs-bottom .ui-tabs-nav li {
        margin-top: -2px !important;
        margin-bottom: 1px !important;
        border-top: none;
        border-bottom-width: 1px;
}
.ui-tabs-selected {
        margin-top: -3px !important;
}

/*
 * Tables
 *
 * Thank you, Rob!  (rbmntjs.nl)
 */
#requestsTable,
#resultsTable {
        width: 100%;
        table-layout: fixed;
}
.artist,
.title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}

#requestsTable .by { width: 10% }
#requestsTable .artist { width: 40% }
#requestsTable .title { width: 40% }
#requestsTable .time { width: 10% }

#requestsTable .time {
        text-align: right;
}
